<div class="card login-card">
  <div class="card-body">
    <h4 class="mb-3">{{ formTitle }}</h4>
    <form [formGroup]="signUpForm" (submit)="submitForm()">
      <div class="row">
        <div class="col-sm-12 col-md-6 right-border">
          <div class="mb-3">
            <label for="customerName" class="control-label"
              >Customer Name</label
            >
            <div class="input-group">
              <input
                formControlName="customerName"
                type="text"
                class="form-control"
                id="customerName"
                placeholder="Enter Customer Name"
              />
            </div>
          </div>

          @if(isCustomerForm) {
          <div class="mb-3 mt-3">
            <label for="roleType" class="form-label">Role Type</label>
            <select
              id="roleType"
              formControlName="roleTypeId"
              class="form-select"
              aria-label="Default select example"
            >
              <option selected disabled>Select Role</option>
              <option value="1">Manager</option>
              <option value="2">Customer</option>
            </select>
          </div>
          }

          <div class="mb-3 mt-3">
            <label for="gender" class="control-label">Gender</label>
            <select
              id="gender"
              class="form-select"
              aria-label="Default select example"
              formControlName="genderId"
            >
              <option selected disabled>Select Gender</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Others</option>
            </select>
          </div>

          <div class="form-group mb-3 mt-3">
            <label class="control-label" for="DateOfBirth">Date of Birth</label>
            <input
              formControlName="dateOfBirth"
              class="form-control"
              type="date"
              data-val="true"
              data-val-required="Date of Birth is required"
              id="DateOfBirth"
              name="DateOfBirth"
            />
          </div>

          <div class="form-group mb-3 mt-3">
            <label class="control-label" for="PAN">PAN Number</label>
            <input
              formControlName="pan"
              class="form-control"
              type="text"
              data-val="true"
              data-val-length="PAN should be 10 characters long"
              data-val-length-max="10"
              data-val-length-min="10"
              data-val-regex="Invalid PAN format"
              data-val-regex-pattern="^[A-Z]{5}\d{4}[A-Z]$"
              id="PAN"
              maxlength="10"
              name="PAN"
              placeholder="Enter PAN Number"
            />
          </div>

          <div class="form-group mb-3 mt-3">
            <label class="control-label" for="Email">Email Id</label>
            <input
              formControlName="email"
              class="form-control"
              type="text"
              data-val="true"
              data-val-regex="The field Email Id must match the regular expression '^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$'."
              data-val-regex-pattern="^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$"
              data-val-required="EmailI Id is required"
              id="Email"
              name="Email"
              value=""
            />
          </div>
          <div class="form-group mb-3 mt-3">
            <label class="control-label" for="Password">Password</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              data-val="true"
              data-val-required="Password can`t be blank"
              id="Password"
              name="Password"
            />
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="form-group mb-3">
            <label class="control-label" for="Address">Address</label>
            <input
              formControlName="address"
              class="form-control"
              type="text"
              data-val="true"
              data-val-maxlength="The field Address must be a string or array type with a maximum length of '50'."
              data-val-maxlength-max="50"
              data-val-regex="Only letters and numbers"
              data-val-regex-pattern="^\b[\dA-Za-z\s\-\\]+\b$"
              id="Address"
              maxlength="50"
              name="Address"
              value=""
            />
          </div>
          <div class="form-group mb-3 mt-3">
            <label class="control-label" for="City">City</label>
            <input
              formControlName="city"
              class="form-control"
              type="text"
              data-val="true"
              data-val-maxlength="The field City must be a string or array type with a maximum length of '40'."
              data-val-maxlength-max="40"
              data-val-regex="Please only use names."
              data-val-regex-pattern="^\b[A-Za-z\s]+$"
              id="City"
              maxlength="40"
              name="City"
              value=""
            />
          </div>
          <div class="form-group mb-3 mt-3">
            <label class="control-label" for="State">State</label>
            <input
              formControlName="state"
              class="form-control"
              type="text"
              data-val="true"
              data-val-maxlength="The field State must be a string or array type with a maximum length of '3'."
              data-val-maxlength-max="3"
              data-val-regex="Abbreviated names only"
              data-val-regex-pattern="(?i)\b(ap|ar|as|br|cg|ga|gj|hr|hp|jk|jh|ka|kl|mp|mh|mn|mz|nl|or|pb|rj|sk|tn|tg|tr|up|ut|wb|an|ch|dn|dd|ld|dl|py)\b"
              id="State"
              maxlength="3"
              name="State"
              value=""
            />
          </div>
          <div class="form-group mb-3 mt-3">
            <label class="control-label" for="PinCode">PinCode</label>
            <input
              formControlName="pinCode"
              class="form-control"
              type="text"
              data-val="true"
              data-val-regex="Please enter a 6-digit PIN code"
              data-val-regex-pattern="^\d{6}$"
              id="PinCode"
              name="PinCode"
            />
          </div>
          <div class="form-group mb-3 mt-3">
            <label class="control-label" for="Phone">Phone</label>
            <input
              class="form-control"
              type="text"
              id="Phone"
              name="Phone"
              formControlName="phone"
            />
          </div>

          @if(isCustomerForm) {
          <div class="mb-3 mt-3">
            <label for="statusID" class="form-label">Approval Status</label>
            <select
              id="statusID"
              formControlName="statusID"
              class="form-select"
              aria-label="Default select example"
            >
              <option selected disabled>Select Approval Status</option>
              <option value="1">Pending</option>
              <option value="2">Approved</option>
              <option value="3">Rejected</option>
              <option value="4">Requested</option>
              <option value="5">Issued</option>
              <option value="6">Success</option>
              <option value="7">Failed</option>
            </select>
          </div>
          }
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          @if(isCustomerForm){
          <a href="/">Back to List</a>
          } @else {
          <a href="/">Back to Login</a>
          }
        </div>
        <div class="form-group mb-3 mt-3">
          @if(isCustomerForm){
          <input type="submit" value="Save" class="btn btn-primary" />
          } @else {
          <input type="submit" value="Register" class="btn btn-primary" />
          }
        </div>
      </div>
    </form>
  </div>
</div>
